

:root {
  --first_green_color : #015249;
  --second_green_color : #043933;
  --main_box_padding : 12px;
  --main_buttonsColors: linear-gradient(to right, #00b39e , #043933);
}

body {
  margin : 0px;
  padding: 0px;
  box-sizing:  border-box;
  background-color: #f3f3f3;
  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}



.errorButton{
  background: rgba(255, 130, 130,0.5);
  color: red;
  font-weight: 600;
  font-size: 12px;
  text-transform: capitalize;
}

.successButton{
  background: #58c0a1ce;
  /* color: var(--first_green_color); */
  color: green;
  font-weight: 600;
  font-size: 12px;
  text-transform: capitalize;
}